@font-face {
  font-family: 'inter';
  font-weight: bold;
  src: url(/fonts/Inter-Bold.woff) format(woff);
  src: url(/fonts/Inter-Bold.woff2) format(woff2);
  }
  
@font-face {
  font-family: 'inter';
  font-weight: normal;
  src: url(/fonts/Inter-Regular.woff) format(woff);
  src: url(/fonts/Inter-Regular.woff2) format(woff2);
}
  
@font-face {
  font-family: 'inter';
  font-weight: 600;
  src: url(/fonts/Inter-SemiBold.woff) format(woff);
  src: url(/fonts/Inter-SemiBold.woff2) format(woff2);
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
  }